html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #0a0a0a;
  font-family: "Segoe UI", sans-serif;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}
